*.o
*.obj
*.a
*.lib
*.exe
*.dll
*.so
*.mod
*.out
*.frd
*.dat
*.vtk
*.vtu
*.cvg
*.sta
*.msg
*.prt
*.inp~
*.log
ccx_2.23
ccx_2.23step
ccx_2.23_pardiso
build-mkl/
test/pathfollow/mixed_*.inp
*.vtu
*.damage
*.png
*.svg
test/**/run_*.log
test/**/*.probe
*.12d
ccx_dbg
test/pathfollow/coh_mu*.inp
test/pathfollow/plascheck.inp
test/pathfollow/probe.inp
test/pathfollow/snapback_pf.inp
test/pathfollow/off_ref/
test/pathfollow/off_new/
test/pathfollow/on_run/
test/pathfollow/*.dat
__pycache__/
*.pyc
*.de1stats
test/s3rad/_runs/
